body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: #E20000;
}
p{
    color: #6A6A6A;
    font-size: 16px;
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png)
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;
}
#proyectos main{
    height: 83vh;
}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;
}
#contacto main{
    height: 83vh;
}
input, textarea{
    border-radius: 15px !important;
    border: 0px !important;
}
textarea{
    height: 150px !important;
    resize: none;
}
nav .nav-link{
    color: #282828;
}
nav .nav-link .active{
    border: 1px solid #E20000;
    border-radius: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
footer, footer a{
    color: white;
    font-weight: 100;
    font-size: 14px;
}
footer .fa-whatsapp{
    color: white;
    background-color: #370A6D;
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;
}
footer .fa-github{
    font-size: 30px;
    color: white;
    padding-left: 100px;
}
footer .fa-linkedin-in{
    color: #E20000;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer, #proyectos footer a{
    color: #E20000;
}
#proyectos footer .fa-github{
    font-size: 30px;
    color: #E20000;
}
#proyectos footer .fa-linkedin-in{
    color: white;
    background-color: #E20000;
}
#proyectos h2{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}
#proyectos p{
    font-size: 14px;
    height: 105px;
}
#proyectos img{
    height: 177px;
}
.color-gradiente{
background: rgba(184,37,20,1);
background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
.btn{
    background-color: #FFFFFF;
    color: #370A6D;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 35px;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #370A6D;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
}
.link-rojo{
    color: #E20000;
    font-size: 15px;
}
.btn-pdf:hover{
    text-decoration: underline;
}